<h1>Create a new chore</h1>

<form action='/chore' method='POST'>
  <p>Description: <input type='text' name='chore[description]' id="chore_description"></input></p>
  <p><label>Choose an existing chore:</label></p>

   <%Chore.all.each do |chore|%>
  <p>  <input type="checkbox" name="family_member[chore_ids]" id="<%=chore.id%>" value="<%=chore.id%>"> <%=chore.description%></input></p>
  <%end%>

  <p>Room: <input type='text' name='chore[room]' id="chore_room"></input></p>

  <p><label>Choose an existing room:</label></p>

   <%Chore.all.each do |chore|%>
    <p><input type="checkbox" name="family_member[chore_ids]" id="<%=chore.id%>" value="<%=chore.id%>"><%=chore.room%></input></p>
  <%end%>

  <p>Day: <input type='text' name='chore[day]' id="chore_day"></input></p>


 <input type="submit" value="Create Chore">
</form>
