<h1> These are the chores for <%@chore.family_member_id%></h1>

<h2><%= @chore.day%></h2>
<h2><%= @chore.description %></h2>
<h2><%= @chore.room %></h2>

<p><a href='/chores/<%=@chore.id %>/edit'>Edit</a></p>

<p>
  <form method='POST' action='/chores/<%= @chore.id %>/delete'>
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value= "delete">
  </form>
</p>
