<h1> These are the chores for
<%= @chore.family_member.name%></h1>

<h2>Day: <%= @chore.day%></h2>
<h2>Description: <%= @chore.description %></h2>
<h2>Room: <%= @chore.room %></h2>

<p><a href='/chores/<%=@chore.id %>/edit'>Edit</a></p>

<p>
  <form method='POST' action='/chores/<%= @chore.id %>'>
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value= "delete">
  </form>
</p>

<p>
  <form method='get' action='/users/index'>
    <input type="submit" value= "Home">
  </form>
</p>
