<h2>Create Family Member</h2>
<form action='/family_member' method='POST'>
  <p><label>Name: </label> <input type='text' name='family_member[name]' value='name' id='family_member_name'></p>

  <!-- <h2>Assign chores</h2>
  <%@family_member.each do |f|%>
  <p><input type='checkbox' name='family_member[name]' value='<%=f.name%>'>  <%=f.name%></input></p>
  <%end%>
  <input type='submit' value='Submit' id ='submit'> -->
  <h2><label>Assign a chore:</label></h2>

    <%Chore.all.each do |chore|%>
      <input type='checkbox' name='family_member[chore_ids][]' id='<%=chore.id%>' value='<%=chore.id%>'><%=chore.description%></input>
    <%end%>

      <h2><label>and/or, create a new chore:</label></h2>
        <p>Description: <input type='text' name='chore[description]'></input></p>
        <p>Room: <input type='text' name='chore[room]' id='chore_room'></input></p>
        <p>Day: <input type='text' name='chore[day]' id='chore_day'></input></p>

    <input type="submit" value="Create Family Member">
  </form>
